.container-iniciar-sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin-top: 100px; 
  margin-bottom: 100px; 
  background-color: #f0f2f5;
  min-height: calc(100vh - 200px); 
}

/* Ajuste para pantallas medianas */
@media (max-width: 992px) {
  .container-iniciar-sesion {
    margin-top: 40px; 
  }
}

/* Ajuste para pantallas pequeñas (celulares) */
@media (max-width: 576px) {
  .container-iniciar-sesion {
    margin-top: 20px; 
    padding: 15px; 
  }
}
